*{
    margin: 0;
    height: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height:100vh;
    border: 1px solid red;
    
} 
.menu{
  width: 100%;
  height: 8vh;
  border: 1px solid red;
  display: flex;
  align-items: center;
  background-color:rgba(127, 255, 212, 0.76);
  
  
  }
.menu ul{
    display: flex;
    list-style: none;
} 
.menu ul li{
  padding: 0px 20px;

}
.menu ul li a{
  text-decoration: none;
}
.about{
  width: 100%;
  height: 42vh;
  border: 1px solid red;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}
.text{
  background-color: white;
  font-size: 22px;
  font-family: jokerman;
  justify-items: center;
  align-items: center;
}

